/* arvo.css */
@font-face {
  font-family: "Arvo";
  font-style: normal;
  font-weight: 400;
  src: url("Arvo-Regular.woff2") format("woff2"),
    url("Arvo-Regular.woff") format("woff");
}

@font-face {
  font-family: "Arvo";
  font-style: italic;
  font-weight: 400;
  src: url("Arvo-Italic.woff2") format("woff2"),
    url("Arvo-Italic.woff") format("woff");
}

@font-face {
  font-family: "Arvo";
  font-style: normal;
  font-weight: 700;
  src: url("Arvo-Bold.woff2") format("woff2"),
    url("Arvo-Bold.woff") format("woff");
}

@font-face {
  font-family: "Arvo";
  font-style: italic;
  font-weight: 700;
  src: url("Arvo-BoldItalic.woff2") format("woff2"),
    url("Arvo-BoldItalic.woff") format("woff");
}

/* Example usage */
body {
  font-family: "Arvo", serif;
}